{% extends "layout.html" %}

{% set active_page = "home" %}

{% block title %}Home{% endblock %}

{% block content %}
    <!--page content-->
    <h1>Wind Turbines</h1>
	<h2>Where does the data come from?</h2>
	<p>This data is from the CORGIS Dataset Project. The data contains statistics 
	about wind turbines</p>
    <h1>Wind Turbine Questions</h1>
    <h2>Why does the height of the wind turbine matter?</h2>
    <p>Wind turbines with lower heights aren't always as good as taller ones
      because shorter turbines can have their wind blocked by trees or manmade
      structures</p>
    <h2>What makes an area a good place for a wind turbine?</h2>
	<p>A flat plane with lots of wind or a mountainside that is hit by wind a lot</p>
	<h2>What is a utility scale wind turbine?</h2>
	<p>A utility scale turbine is a wind turbine that is used for bigger purposes
	than personal use. All of the turbines in this dataset are utility scale</p>
{% endblock %}
